/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Üst Menü */
header {
    background-color: #ff0000;
    padding: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navigasyon Menüsü */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #008000;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #006600;
}

/* Oyun Linkleri */
.oyun-link, .play-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.oyun-link:hover, .play-button:hover {
    background-color: #218838;
}

/* Oyun Görselleri */
.game-image {
    margin-top: 20px;
    width: 300px;
    max-width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
}
