body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #ff0000;
    padding: 15px;
    color: white;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

.oyun-link {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #008000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.oyun-link:hover {
    background-color: #006600;
}
